@model PERSONA
<form id="formNivel">
    <input type="hidden" asp-for="IdPersona" id="txtid" />
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="txtClave">Nueva Clave:</label>
                <input asp-for="NewClave" type="password" class="form-control required" id="txtClave">
            </div>
        </div>
    </div>
</form>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
    <button type="button" class="btn btn-primary" onclick="ResetearPassword()">Guardar</button>
</div>
